/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid red 1px; */
}

button,
button::before,
button::after {
    box-sizing: border-box;
    border: none;
    background: none;
}

html {
    /* footer support */
    position: relative;
    height: 100vh;
}


body {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr 4fr 1fr;
    position: relative;
    background-color: bisque;
    font-family: 'Sarabun', sans-serif;
}

.player-info-page {
    grid-area: 1 / 1 / 4 / 4;
    /* background-color: white; */
    /* z-index: 1; */
    width: 100%;
    height: 100%;
}

header {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game-board-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: solid black 1px;
}

.square {
    border: solid 1px black;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: space-evenly;
}

.player-creation-screen {
    width: 100%;
    height: 100%;
    background-color: bisque;
    border: 0;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-creation-container{
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.player-creation-header {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}

label {
    text-align: center;
}

input {
    width: 50%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.player-one {
    grid-area: 2 / 2 / 3 / 3;
}

.player-two {
    grid-area: 2 / 3 / 3 / 4;

}

#create-player-btn {
    grid-area: 3 / 2 / 4 / 4;
}

#create-player-btn, .new-game, .play-again {
    align-self: start;
    justify-self: center;
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
    background: rgb(80, 123, 214);
}

.game-over-modal {
    width: 550px;
    height: 550px;
    border: 0;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.game-over-modal-info {
    height: 100%;
    display: grid;
    grid-template: 7fr 1fr 2fr / repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.winner {
    grid-area: 1 / 1 / 2 / 5;
    justify-self: center;
    align-self: center;
}

.new-game {
    grid-area: 2 / 2 / 3 / 3;
}

.play-again {
    grid-area: 2 / 3 / 3 / 4;
}