* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gameBoardTheme: rgb(56, 56, 56);
}

body {
    font-family: 'Sarabun', sans-serif;
    height: 100vh;
}

.container {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: 5rem;
    font-weight: normal;
    margin: 3rem 0 3rem 0;
}

.game-message {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.gameboard {
    min-width: 600px;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-weight: light;
    
}

.square {
    height: 100%;
    border: none;
    background-color: white;
    font-size: 5rem;
}

.square:disabled {
    color: black;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
    border-bottom: solid 3px var(--gameBoardTheme);
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(4),
.square:nth-child(5),
.square:nth-child(7),
.square:nth-child(8) {
    border-right: solid 3px var(--gameBoardTheme);
}
